{
  "openapi": "3.0.2",
  "info": {
    "title": "Kamus Crypto RESTful API",
    "version": "1.1.5",
    "description": "RESTful API for Kamus Crypto Application",
    "contact": {
      "name": "Iwan Suryaningrat",
      "email": "iwan.suryaningrat28@gmail.com"
    },
    "license": {
      "name": "APACHE 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "description": "Kamus Crypto RESTful API Server for Production",
      "url": "https://api.kamuscrypto.id/v1"
    },
    {
      "description": "Kamus Crypto RESTful API Server for Development",
      "url": "https://dev.kamuscrypto.id/v1"
    }
  ],
  "paths": {},
  "components": {
    "parameters": {
      "x-auth-token": {
        "name": "x-auth-token",
        "in": "header",
        "description": "JWT Token",
        "required": true,
        "allowEmptyValue": false,
        "schema": {
          "type": "string",
          "format": "int64"
        }
      },
      "token": {
        "name": "token",
        "in": "path",
        "description": "Token",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Bad Request": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "User ID is Required!"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "No token, authorization denied!"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "You are not authorized to do this action!"
              }
            }
          }
        }
      },
      "Not Found": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "User not found!"
              }
            }
          }
        }
      },
      "Method Not Allowed": {
        "description": "Method Not Allowed",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Method Not Allowed!"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "User Already Exist. Please Login"
              }
            }
          }
        }
      },
      "Unprocessable Entity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "No file uploaded"
              }
            }
          }
        }
      },
      "Internal Server Error": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Some error occurred while fetching data!"
              }
            }
          }
        }
      },
      "Show Profile Success": {
        "description": "Successful Operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "birthday": {
                      "type": "string"
                    },
                    "image": {
                      "type": "string"
                    },
                    "type": {
                      "type": "object",
                      "properties": {
                        "memberType": {
                          "type": "string"
                        },
                        "subscription": {
                          "type": "object",
                          "properties": {
                            "startAt": {
                              "type": "number"
                            },
                            "expiredAt": {
                              "type": "number"
                            }
                          }
                        },
                        "isNew": {
                          "type": "boolean"
                        },
                        "isAdmin": {
                          "type": "boolean"
                        },
                        "isActivated": {
                          "type": "boolean"
                        }
                      }
                    },
                    "referral": {
                      "type": "object",
                      "properties": {
                        "referralCode": {
                          "type": "string"
                        },
                        "referralCount": {
                          "type": "number"
                        },
                        "referralAccount": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "username": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "message": "User fetched successfully!",
                "data": {
                  "name": "Example Name",
                  "username": "username",
                  "email": "example@mail.com",
                  "image": "https://res.cloudinary.com/dzqbzqgjw/image/upload/v1599098981/default-user-image_qjqjqj.png",
                  "phone": "081234567890",
                  "address": "Jl. Example",
                  "birthday": "1990-01-01",
                  "type": {
                    "memberType": "Pro Member",
                    "subscription": {
                      "startat": "Tue Nov 15 2022 01:59:28 GMT+0700 (Western Indonesia Time)",
                      "expiredAt": null
                    },
                    "isNew": true,
                    "isAdmin": false,
                    "isActivated": false
                  },
                  "referral": {
                    "referralCode": "123456",
                    "referralCount": 0,
                    "referralAccount": []
                  }
                }
              }
            }
          }
        }
      },
      "Update Profile Success": {
        "description": "Successful Operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            },
            "example": {
              "message": "User updated successfully!",
              "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
            }
          }
        }
      },
      "Change Password Success": {
        "description": "Successful Operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Password changed successfully!"
              }
            }
          }
        }
      },
      "Change Profile Picture Success": {
        "description": "Successful Operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            },
            "example": {
              "message": "Picture changed successfully!",
              "token": "5f9c1b9b9c9c1c0017b5b1b1"
            }
          }
        }
      }
    },
    "requestBodies": {}
  }
}
